* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: hsl(240, 78%, 98%);
  background-image: url('../images/bg-bottom.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  height: 100%;
}

.section-pricing {
  background-image: url('../images/bg-top.svg');
  background-repeat: no-repeat;
  background-position: top right;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem;
}

.pricing__heading {
  font-weight: 700;
  color: hsl(232, 13%, 33%);
}

.pricing__switch {
  display: flex;
  align-items: center;
  margin: 2rem 0 4rem 0;
  transition: all 0.35s ease-out;
}

.switch {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  background-clip: padding-box;
  position: relative;
  min-width: 5rem;
  padding: 0 2rem;
  border: none;
  overflow: visible;
  width: 5rem;
  height: 2.8rem;
  z-index: 0;
  text-align: left;
  margin: 2rem 1rem;
}

.switch__input {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  z-index: 1;
  vertical-align: top;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0;
  appearance: none;
  z-index: 0;
}

:checked+.switch__toggle {
  box-shadow: inset 0 0 0 2px hsl(236, 72%, 79%);
  background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.switch__toggle {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3rem;
  transition: all 0.35s ease-out;
  box-shadow: inset 0 0 0 2px #e5e5e5;
}

:checked+.switch__toggle>.switch__handle {
  left: 24px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, .25);
}

.switch__handle {
  box-sizing: border-box;
  background-clip: padding-box;
  position: absolute;
  content: '';
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
  background-color: white;
  left: 1px;
  top: 3px;
  transition: all 0.35s cubic-bezier(.59, .01, .5, .99);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15), 0 3px 2px rgba(0, 0, 0, .15);
}

.toggle_on {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 6rem;
  font-weight: 900;
}

.toggle_on span, .toggle_off span {
  font-size: 3rem;
  font-weight: 900;
}

.toggle_off {
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 6rem;
  font-weight: 900;
}

.card__details {
  padding: 2rem 0;
}

.card__details ul {
  list-style: none;
  width: 100%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  padding: 1rem;
  color: hsl(233, 13%, 49%);
}

.card--purple .card__details ul li {
  color: white;
}

.card__details ul li {
  border-bottom: 1px solid hsl(234, 14%, 74%);
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
  padding: 3rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(232, 13%, 33%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
  min-width: 30rem;
}

.card--purple {
  background-image: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  height: 110%;
  z-index: 1;
  margin-top: -10px;
}

.card__title {
  margin: 0 auto;
  font-size: 1.3rem;
}

.btn {
  background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 1.2rem;
  letter-spacing: 3px;
  color: white;
  font-weight: 700;
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  background-image: none;
  color: hsl(237, 63%, 64%);
}

.btn-purple {
  background: white;
  background-image: none;
  color: hsl(237, 63%, 64%);
  margin-top: 10px;
}

.btn-purple:hover {
  background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
}
